.land {
  height: 15cm;
  text-shadow: lightslategray;
  background-image:url(pink.jpg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center;
}
.la {
  height: 4cm;
  padding-left: 1cm;
  padding-top: 3cm;
}
.la a {
  font-size: 1cm;
  font-family: inherit;
  color: rgb(154, 230, 13);
  text-shadow: 1px 3px 1px rgb(7, 1, 14);
}
.la img {
  width: 8cm;
}
.nd {
  float: bottom;
  height: 8cm;
  padding-left: 6cm;
}
.mentor {
  width: 9cm;
  height: 7cm;
}

.mo {
  height: 22cm;
  
  padding-top: 40px;
  text-align: center;
  font-size:0.66cm;
  font-family: Times New Roman;
  color: rgb(149, 16, 238);
 /* background-color:rgb(49, 47, 47); */
}
.tl {
  width: 7cm;
  height: 15cm;
  margin: 40px 15px;
  border-radius: 12px;
  display: block;
  float: left;
  transition: 0.4s;
  color: rgb(185, 61, 123);
  border-width: 10px;
  border-color: rgba(243, 115, 11, 0.2);
  box-shadow: 0px 0px 4px 4px rgb(51, 49, 49);
  border-style:ridge;
}
.tl:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 8px 8px rgb(51, 49, 49);
  border-width:thick;
}
.tl img {
  padding-top: 2px;
  width: 6.5cm;
  height: 4cm;
  border-radius: 12px;
  border-style: solid;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tl h2 {
  width: 5cm;
  font-size: 17;
  font-family: sans-serif;
}
.tl p {
  font-size:15px;
  text-align: center;
  font-family:Times New Roman;
}
footer {
  color: rgb(7, 7, 7);
  padding-top:6.6cm;
 text-align: center;
  padding-bottom: 0cm;
 /* background-color:rgb(49, 47, 47); */

}
.z {
  padding: 2px;
 padding-left:0.1cm; 
   width:30%;
}
.z a {
  text-decoration: none;
}
.f{
  font-size:0.3cm;
  padding-top:1.5cm;
  width:50%;
  float:right;
  background-color: rgb(11, 111, 124);
  width:100%;
 text-align: center;
}
.fa {
  font-size: 20px;
  width: 10px;
  height: 10px;
  margin: 1px 11px;
}
.fa:hover {
  opacity: 0.6;
}
.fa-whatsapp {
  color: rgb(7, 122, 65);
}
.fa-linkedin {
  color: rgb(15, 117, 252);
}
.fa-youtube {
  color: rgb(224, 41, 41);
}
.fa-instagram {
  color: rgb(241, 125, 15);
}
.fa-facebook {
  color: rgb(15, 117, 252);
}
.fa-telegram {
  color: rgb(31, 169, 211);
}

@media screen and (max-width: 730px) {
  .body {
    position: fixed;
  }
  .mo {
    height: 10cm;
    padding-left: 5px;
    margin: auto;
  }
  
  .land {
    height: 14cm;
  }
  .la img {
    width: 4cm;
  }
  .la {
    padding-left: 0.2cm;
    padding-top:4cm;
  }
   .la a {
    font-family: inherit;
    font-size: 14;
    text-shadow: none;
  }
  .nd {
    padding-left: 1.8cm;
    float: bottom;
  }
 .footer {
    text-align: end;
  }
  footer{
    height:8cm;
  }
  .z{
    padding-top:1cm;
    width:100%;
    height:2cm;
   /* background-color: rgb(96, 175, 228); */
  }

  .z a {
    margin: 0px 2px;
  }
  .f{
    font-size: 15;
    height:6cm;
    letter-spacing: 3px;
  }
  .fa {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 720px) {
  .mo {
    height: 3cm;
    padding-left: 30px;
  }
}

   

   
